/* google font */
@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Playwrite DE Grund";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: 100% 100%;
  background: linear-gradient(
    to right,
    #eea2a2 0%,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  );
}
h1 {
  font-size: 40px;
  background: -webkit-linear-gradient(#002bec, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container {
  text-align: center;
}

.weather-card {
  background-size: 100% 100%;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: inset -20px 20px 60px #696262, inset 20px -20px 60px #64626b;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
  width: 450px;
  text-align: center;
}

.weather-card:hover {
  transform: scale(1.05);
}

#city-input {
  text-align: center;
  padding: 2px;
  margin: 10px 0px;
  width: 60%;
  border: 1px solid #3f3c3c;
  border-radius: 10px;
  font-size: 25px;
  font-family: "Playwrite DE Grund";
  background: radial-gradient(
    circle at 10% 20%,
    rgb(116, 203, 199) 0%,
    rgb(220, 246, 200) 90%
  );
  font-weight: 570;
}

#city-input:focus {
  outline: none;
  border-color: #2196f3;
}

#city-input::placeholder {
  color: #aaa;
}

/* button css */
#btn {
  width: 120px;
  height: 40px;
  border: 3px solid #315cfd;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 1em;
  font-weight: 650;
  font-family: "Playwrite DE Grund";
}
#btn:hover {
  background: #315cfd;
  color: white;
  font-size: 1.1em;
}
#city-name {
  font-size: 35px;
  font-weight: bold;
  color: darkred;
}
#weather-info {
  display: none;
}

#date {
  font-size: 20px;
  color: rgb(8, 0, 255);
}
.weather-icon {
  width: 200px;
}

#temperature {
  font-size: 25px;
  font-weight: bold;
  margin: 8px 0;
}

#description {
  font-size: 28px;
  margin-bottom: 10px;
}

#wind-speed {
  font-size: 26px;
  color: rgb(1, 108, 28);
}
